{% extends 'payir_base.html' %}
{% block content %}
<h4 class="success">پرداخت موفقیت آمیز</h4>
<div>
    <p>مبلغ: {{ amount }} ریال</p>
    <p>شماره پیگیری: {{ trace_number }}</p>
    <p>{{ card_number  }} : شماره کارت</p>
    <p>{{ factor_number  }} : شماره فاکتور</p>
    <p>{{ mobile  }} : شماره همراه</p>
    <p>{{ description  }} : توضیحات</p>
    <p>{{ message  }} : پیغام</p>
<button type="submit" class="btn btn-redirect">بازگشت به سایت پذیرنده </button>
<a class="btn btn-primary" href="/checkout/preview/">بازگشت به سایت پذیرنده</a>



</div>
{% endblock %}