{% extends "checkout/checkout.html" %}


{% load i18n %}
{% load static %}
{% block title %}
    {% trans "Payment details" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=3 %}
{% endblock %}

{% block checkout_title %}{% trans "Enter payment details" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}
{% block payment_details %}
    {% block payment_details_content %}
        <a id="view_preview" href="{% url 'checkout:preview' %}"
           class="btn btn-primary btn-lg">{% trans "Continue" %}</a>
        <h6 class="card-subtitle mb-2 text-muted">می‌توانید به آسانی مبلغ مورد نظر را واریز نمایید.</h6>
        <form class="form" action="{% url 'req_page' %}" method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="InputName">نام و نام خانوادگی</label>
                    <input name="fullname" class="form-control" id="InputName"
                           placeholder="نام و نام خانوادگی خود را وارد کنید">
                </div>
                <div class="form-group col-md-6">
                    <label for="InputPhone">شماره موبایل</label>
                    <input name="mobile" type="tel" class="form-control" id="InputPhone" aria-describedby="PhoneHelp"
                           placeholder="شماره موبایل خود را وارد کنید">
                    <small id="PhoneHelp" class="form-text text-muted">
                        جهت نمایش کارت های شما و نمایش درگاه موبایلی
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label for="InputDescription">توضیحات</label>
                <input name="description" type="text" class="form-control" id="InputDescription"
                       aria-describedby="DescriptionHelp"
                       placeholder="توضیحات مربوط به پرداخت خود را وارد کنید" maxlength="255">
                <small id="DescriptionHelp" class="form-text text-muted">
                    حداکثر ۲۵۵ کاراکتر
                </small>
            </div>
            <div class="form-group">
                <label for="InputTransaction">شماره تراکنش</label>
                <input name="transaction" type="text" class="form-control" id="InputTransaction"
                       aria-describedby="TransactionHelp"
                       placeholder="شماره تراکنش که مربوط به برنامه شماست" maxlength="255">
                <small id="TransactionHelp" class="form-text text-muted">
                    حداکثر ۲۵۵ کاراکتر
                </small>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="InputAmount">مبلغ</label>
                    <input name="amount" type="number" class="form-control" id="InputAmount"
                           aria-describedby="AmountHelp"
                           placeholder="مبلغ مورد نظر را وارد نمایید">
                    <small id="AmountHelp" class="form-text text-muted">
                        مبلغ فوق به ریال می‌باشد.
                    </small>
                </div>
            </div>
            <button type="submit" class="btn btn-success">پرداخت</button>
        </form>
    {% endblock payment_details_content %}
{% endblock payment_details %}
